[Unit]
Description=Load Intel
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/bin/load_intel.sh
TimeoutStartSec=0
ExecStop=/bin/echo finished loading intel

[Install]
WantedBy=shutdown.target
